<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基于IPv6的继续教育资源管理平台</title>
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/header_footer.css" rel="stylesheet" />
    <link type="text/css" href="css/index.css" rel="stylesheet" />
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/headerUser.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="banner container-fluid">
    <img src="img/banner.png" />

<div class="curriculum container-fluid">
    <div class="curriculum_content">
        <div class="content_top">
            <div class="content_top_title">
                <img src="img/curriculum_01.png" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="curriculum_bottom">
        <ul class="list-unstyled">
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            玛丽
                        </h5>
                    </a>
                    <h5 class="school_right">副教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="list-unstyled two_top">
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="curriculum">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            理查德布莱曼
                        </h5>
                    </a>
                    <h5 class="school_right">教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <a href="curriculum">
                    <div class="curriculum_img">
                        <img src="img/curriculum_img_01.jpg" />
                    </div>
                </a>
                <p>《数据结构》</p>
                <div class="school">
                    <a href="#">
                        <h5 class="school_left">
                            <span><img src="img/curriculum_icon.png" /></span>
                            玛丽
                        </h5>
                    </a>
                    <h5 class="school_right">副教授</h5>
                    <div class="clearfix"></div>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="more_curriculum">
        <a href="list_of_catalogues">更多课程</a>
    </div>
</div>
<div class="resources">
    <div class="resources_top">
        <img src="img/resources_top_img.png" />
        <div class="clearfix"></div>
    </div>
    <div class="resources_content">
        <ul class="list-unstyled">
            <li>
                <div class="resources_box">
                    <img src="img/resources_01.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_01.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>教学PPT</p>
                </div>
            </li>
            <li>
                <div class="resources_box">
                    <img src="img/resources_02.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_02.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>教学图片</p>
                </div>
            </li>
            <li>
                <div class="resources_box">
                    <img src="img/resources_03.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_03.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>教学动画</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="list-unstyled">
            <li>
                <div class="resources_box">
                    <img src="img/resources_04.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_04.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>实训指导</p>
                </div>
            </li>
            <li>
                <div class="resources_box">
                    <img src="img/resources_05.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_05.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>虚拟实训</p>
                </div>
            </li>
            <li>
                <div class="resources_box" >
                    <img src="img/resources_06.png" />
                    <div class="resources_mask"></div>
                    <div class="resources_icon">
                        <img src="img/resources_icon_06.png" />
                    </div>
                </div>
                <div class="resources_text">
                    <p>教学视频</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
</div>
<div class='footer'>
    <div class='footer_wrap'>
        <ul class="list-unstyled">
            <li>
                <p><a href="http://cjy.glut.edu.cn/kszx/gdjyzxksjj11/gdjyzxksjj.htm">成人高考考试科目</a></p>
                <p><a href="http://cjy.glut.edu.cn/pxzx/pxzxjj.htm">培训中心简介</a></p>
                <p><a href="http://cjy.glut.edu.cn/kszx/jxjykszx/gdjyzxksjj.htm">考试资讯</a></p>
            </li>
            <li>
                <p>友情链接:</p>
                <p><a href="http://www.gxeea.cn/">广西招生考试院</a></p>
                <p><a href="http://www.gxeea.cn/">广西自学考试网上系统</a></p>
                <p><a href="https://www.chsi.com.cn/">中国高等教育学生信息网</a></p>
                <p><a href="http://www.edu.cn/">中国教育网</a></p>
                <p><a href="http://www.gxpta.com.cn/">广西人事考试网</a></p>
            </li>
        </ul>
    </div>
</div>
<!-- <script type="text/javascript" src="js/footer.js"></script> -->
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>
