<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>教师资料</title>
		<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
		<link type="text/css" href="css/header_footer.css" rel="stylesheet" />
		<link type="text/css" href="css/teacher.css" rel="stylesheet" />
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript" src="js/headerUser.js"></script>

	</head>
	<body>
		<div class="teacher_wrap">
			<div class="teacher_left">
				<div class="teacher_title">
					<div class="teacher_title_img">
						<img src="img/course_teacher_01.png" />
					</div>
					<div class="teacher_name">
						<h2>玛丽</h2>
						<p>教务主任</p>
					</div>
					<div class="teacher_return">
						<a href="#" onclick="javascript:history.back(-1);" >返回</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="teacher_introduce">
					<ul class="list-unstyled">
						<li>
							<h1>教学经历：</h1>
							<p>1988年毕业于中南大学，获工学硕士学位，1985起一直在桂林理工大学从事教师职业。从事教学工作30余年，担任本科生和研究生的课程教学。发表论文十余篇。作为主要人员，获广西科技进步一等奖。</p>
							<div class="clearfix"></div>
						</li>
						<li>
							<h1>教师荣誉：</h1>
							<p>“师德标兵”荣誉称号、“教书育人”荣誉称号、“教学育人”荣誉称号、“管理育人”荣誉称号。</p>
							<div class="clearfix"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="teacher_right">
				<div class="teaching">
					<div class="teaching_title">
						<h1><i class="icon-book"></i>所授课程</h1>
					</div>
					<ul class="list-unstyled">
						<li>
							<a href="curriculum" class="teaching_img">
								<img src="img/curriculum_img_01.jpg" />
								<div class="teaching_content">
									<span class="teaching_post">
										<i class="icon-time"></i>2018-6-5&nbsp;15:30
									</span>
								</div>
							</a>
							<div class="teaching_text">
								<p>数据结构（C语言版）</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</body>
	<script type="text/javascript" src="js/footer.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>
