<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>视频播放</title>
		<meta name="description" content="">
		<meta name="keyword" content="">
		<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
		<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet" />
		<link type="text/css" href="css/header_footer.css" rel="stylesheet">
		<link type="text/css" href="css/video.css" rel="stylesheet">
		<script src="js/header.js"></script>
		<script type="text/javascript" src="js/headerUser.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="video_bg">
			<div class="video">
				<div class="video_left">
					<video id="videoid" width="100%" poster="video/第三章第一节初始伺服电机.jpg"  controls="controls" preload="auto">
						<source src="video/第三章第一节初始伺服电机.mp4" type="video/mp4">
					</video>
				</div>
				<div class="video_right">
					<ul class="list-unstyled">
						<li class="list_block">
							<a href="javascrript:;" data-videosrc="video/第三章第一节初始伺服电机">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_01.jpg" />
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascrript:;" data-videosrc="video/第四章第三节智能巡航的实现">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_02.jpg" />
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascrript:;" data-videosrc="video/第五章第二节跟随智能小车实验">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_03.jpg" />
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascrript:;" data-videosrc="video/第五章第三小节蓝牙遥控智能小车实验">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_04.jpg" />
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascrript:;" data-videosrc="video/第五章第一节避障智能小车实验(全)">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_05.jpg" />
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascrript:;" data-videosrc="video/第一章第二节Mixly简介">
								<div class="list_bg">
									<div class="list_mask"></div>
									<div class="list_img">
										<img src="img/video/intermediate_img_06.jpg" />
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<script type="text/javascript" src="js/footer.js" ></script>
	</body>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="js/video.js" ></script>
</html>